@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu', sans-serif; /*Karol's favourite font XD*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 100%;
background-color: black;
height: 100%;
}

.game-body{
    margin:50px;
    background-color: grey;

}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
}

#mapid{
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-custom-icon{
  width: 30px !important;
  height: 30px !important;
  margin-left: -12px;
  margin-top: -10px;
  border-radius: 18px;
  border: 2px solid black;
  text-align: center;
  color: black;
  background-color:var(--color);
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 1px black;
  box-shadow: 10px 5px 5px black;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}


.turn-container {
    flex-direction: column;
    /*border: 5px solid rgba(255, 71, 71, 0.637);*/
    border: 5px solid red;
    height: 135px;
    background-color: #12232ec7;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    width: 240px;
    margin-bottom: -20px;
}

.turn-info {
    border-radius: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    /*background-color: rgba(255, 71, 71, 0.637);*/

    margin-bottom: 15px;
}
#turn-info-person{
    font-size: 20px;
    color: white;
}

#phase-info{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.turn-info,.turn-info-buttons{
    flex-direction: row;
}
.turn-container, .turn-info-buttons, .turn-info{
    
    display: flex;
    align-items: center;
}
.turn-info-buttons{
    display:flex;
    justify-content: center;
    align-items: baseline;
}
.turn-level-btn{
    border-radius: 10px;
    border: 0;
}
.btnStyle{
    height: 50px;
    width: 100px;
}
.turn-level-btn{
    background-color: rgb(148, 148, 148);
    margin-left: 2px;
}
.active {
    background-color: red;
}
/*.active {
    background-color: rgb(252, 44, 44);
}*/
.turn-level-btn{
    height: 20px;
    width: 60px;
}
#options{
    background: transparent;
    border:none;
  cursor: pointer;
  outline: none;
}
.gear {
    margin-right: -20px;
    /*border: 10px solid rgba(255, 71, 71, 0.767);*/
    border: 10px solid red;
    border-radius: 50%;
    height: 110px;
    position: relative;
    width: 120px;
    background: #004E7C;
    box-shadow: 0 0 6px black;
}

/* COPY HERE */
.wrapper {
    margin-left: -20px;
    overflow: hidden;
    position: relative;
    /*border: 10px solid rgba(255, 71, 71, 0.767);*/
    border: 10px solid red;
    border-radius: 50%;
    height: 110px;
    width: 120px;
    background: #004E7C;
    box-shadow: 0 0 6px black;
}

.wrapper svg {
  width: 70px;
  height: auto;
  fill: rgb(181, 240, 255);
  opacity: 100%;
  display: absolute;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  overflow: visible;
}
.wrapperv svg .pol,
.wrapper svg path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
.wrapper svg:hover .pol, div .ss:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #39ffff;
}
.wrapper svg:hover .arrow {
  animation: arrow-anim 1.5s cubic-bezier(0.2, 1, 0.3, 0.5) infinite;
}
.wrapper svg:hover .arrow-fixed {
  animation: arrow-fixed-anim 2s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
    fill: rgb(181, 240, 255);
  }
  5% {
    transform: translateX(-0.1rem);
    fill: rgb(181, 240, 255);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
    fill: rgb(181, 240, 255);
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    fill: rgb(181, 240, 255);
  }
}